.env
.server.pid
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

build/
dist/
logs/

*.log
flask_stdout.log
flask_stderr.log

*.sqlite3
*.sqlite
*.db
*.zip
*.exe
munmosh_uncertain_excluded.*

.venv/
venv/
env/
